.center {
	text-align: center !important;
}
.menu-last-tab {
	margin-right: 10px;
}
.small-box {
	width: 400px;
	margin: auto;
}
.tableDiv {
	max-height: 200px;
	overflow-y: auto; 
}
.user_image {
	float: right;
}
.jumbotron {
	padding-top: 20px !important;
}
.redDiv {
	background-color: #ecdede;
	padding: 10px;
}